<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="kn" connectionString="Data Source=DESKTOP-15F0QSH\SQLEXPRESS;Initial Catalog=QLCBNV;Integrated Security=True"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="DuongDanAnh" value="C:\Users\zodia\Documents\anh kimchungphan"/>
	</appSettings>
</configuration>